.DS_Store
Thumbs.db

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*
!.env.example

.vscode/
!.vscode/extensions.json
.idea/
*.iml
*.ipr
*.iws

products-api/target/
products-api/.settings/
products-api/.classpath
products-api/.project
products-api/nbproject/private/
products-api/nbbuild/
products-api/dist/
products-api/nbdist/
products-api/.nb-gradle/
products-api/build/


products-frontend/node_modules/
products-frontend/dist/
products-frontend/dist-ssr/
products-frontend/coverage/

HELP.md
